/* You can add custom styles here. */

// @import "plugins/numbered";
// @import "plugins/scrollbars";

body {
    scrollbar-color: var(--gray-100) var(--body-background);
  }
  
  .book-toc-content {
    ul{
      padding-inline-start: 0.5rem;
    }
   
      li a {
        transition: all 0.3s cubic-bezier(0.230, 1.000, 0.320, 1.000);
      }
  
      a.visible {
        background: rgba(var(--color-link), 0.1);
        color: $nm_offwhite;
        border-left: 0.25rem solid rgba($nm-accent, 0.8);
        border-radius: 0.25rem;
        padding: 0 0 0 0.25rem;
      }
  }
  
  ::selection {
    color: $nm_dark_gray;
    background: $nm_offwhite;
  }
  
  // fix firefox will-change warning
  .book-menu-content, .book-toc-content, .book-page, .book-header aside, .markdown{
    will-change: auto;
  }
  
  aside nav li a.active {
    border-left: .25rem solid $nm_accent;
    border-radius: 0.25rem;
    background: rgba($nm-accent, 0.2);
    color: $nm_offwhite !important;
    padding: 0 0 0 0.25rem;
  }
  aside nav li a{
    transition: all 0.3s cubic-bezier(0.230, 1.000, 0.320, 1.000);
  }
  
  aside nav li a:hover {
    background: rgba($nm-accent, 0.2);
    color: $nm_offwhite !important;
    border-left: 0.25rem solid $nm-accent;
    border-radius: 0.25rem;
    padding: 0 0 0 0.25rem;
    opacity: 1;
  }
  
  .book-section-flat {
    margin: 1.5rem 0;
  }
  
  hr{
    height: 1px;
    border: none;
    background: var(--gray-200);
  }
  
  .markdown hr, .breadcrumb hr {
    margin: 0 -1rem 0 -1rem;
  }
  
  .markdown h2{
    margin-left: -1rem;
    padding-left: 1rem;
  }
  
  .markdown > :first-child {
      margin-top: 1rem;
  }
  
  .book-menu .book-menu-content{
    background-color: $nm_dark_gray;
    color: var(--gray-500);
  }
  
  .book-menu a, .book-menu label{
    color: var(--color-link);
  }
  
  .book-toc{
    border-left: 0.1rem solid rgba($nm_light_gray, 0.2);
    //border-radius: .5rem 0 0 .5rem;
    background-color: $nm_dark_gray;
  }
  
  .nav-footer{
    padding-right: 1rem;
    font-size: 12px;
  }
  
  .book-page{
    background-color: $nm_light_gray;
    height: 100%;
    min-height: 100%;
    border-left: 0.1rem solid rgba($nm_light_gray, 0.2);
    //border-radius: .5rem 0 0 .5rem;
  }
  
  .markdown table {
    display: table;
    border-collapse: collapse;
    width: calc(100% - 1rem) !important;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
    --moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
    //line-height: 1;
    overflow:visible;
    margin: 0 auto;
  }
  
  .markdown th, tr, td {
    text-align: left;
    font-size: 12px !important;
    padding: 0.25rem;
    word-wrap: break-word;
    border: none !important;
  }
  
  .markdown th {
    text-transform: uppercase;
    background: var(--color-link);
    color: $nm_dark_gray;
    a, a:visited{
      color: $nm_dark_gray;
    }
  }
  
  .markdown td {
    width: calc(100%/6) !important;
  }
  
  .markdown tr {
    width: 100% !important;
    border-bottom: 0.1rem solid rgba($nm_offwhite, 0.2) !important;
  }
  
  .markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {
    font-weight: 600;
  }
  
  th:first-of-type {
    border-top-left-radius: 10px;
  }
  th:last-of-type {
    border-top-right-radius: 10px;
  }
  tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 10px;
  }
  tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 10px;
  }
  
  tr:last-of-type{
    border-bottom: none !important;
  }
  
  .markdown table tr:nth-child(2n) {
    background: none;
  }
  
  .calendar{
    width: 100%;
    overflow-x:scroll;
    overflow-y:visible;
    padding-bottom: 1rem;
  }
  
   /* Style the list */
   ul.breadcrumb {
    padding: 0 16px 0 0;
    margin-top: 0;
    list-style: none;
    font-size: 12px;
  }
  
  /* Display list items side by side */
  ul.breadcrumb li {
    display: inline;
  }
  
  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb li+li:before {
    padding: 8px;
    content: "/\00a0";
  }
  
  /* Add a color to all links inside the list */
  ul.breadcrumb li a {
  }
  
  /* Add a color on mouse-over */
  ul.breadcrumb li a:hover {
  
  } 
  
  // {{< hint >}}
  .markdown {
    .book-hint {
      @each $name, $color in $hint-colors {
        &.#{$name} {
          border-color: $color;
          background-color: rgba($color, 0.1);
        }
      }
    }
  }
  
  .img_center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  .small{
    width: 30%;
  }
  .mid{
    width: 40%;
  }
  .half{
    width: 60%;
  }
  .wide{
    width: 80%;
  }
  .full{
    width: 100%;
  }
  .shadow{
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  }
  .text_center{
    text-align: center;
  }

  .bold{
    font-weight: bold;
  }

  .book-brand {
    // font-size: 80px;
    // color: #fff;
    // text-align: center;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
  }

  .glow {
    // font-size: 80px;
    // color: #fff;
    // text-align: center;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 2px #79ceff;
    }
    to {
      text-shadow: 0 0 5px hsl(200, 100%, 65%);
    }
  }