/* You can override SASS variables here. */


/* SCSS HEX */
$nm_light_gray: #121212;
$nm_dark_gray: #000000;
$nm_offwhite: #ffffff;
$nm_violet: #9a6c97;
$nm_yellow: #daa520;

$nm_accent: #43ace0;

$hint-colors: (
  info: #90ddca,
  warning: #daa520,
  danger: #f66,
);

// Themes
@mixin theme-light {
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-500: #adb5bd;

  --color-link: #daa520;
  --color-visited-link: #daa520;

  --body-background: white;
  --body-font-color: black;

  --icon-filter: none;

  --hint-color-info: #90ddca;
  --hint-color-warning: #fd6;
  --hint-color-danger: #f66;
}

@mixin theme-dark {
  --gray-100: rgba(255, 255, 255, 0.1);
  --gray-200: rgba(255, 255, 255, 0.2);
  --gray-500: rgba(255, 255, 255, 0.5);

  --color-link: #95c2e6;
  --color-visited-link: #898c98;

  --body-background: #000000;
  --body-font-color: #ffffff;

  --icon-filter: brightness(0) invert(1);

  --hint-color-info: #90ddca;
  --hint-color-warning: #fd6;
  --hint-color-danger: #f66;
}